{% extends "base.html" %}

{% block content %}

<form method="post">
    <h2>Please enter your username and password:</h2>
    <input type="text"
           name="username"
           value="{{username}}"
           placeholder="username">
    <br>
    <input type="password"
           name="password"
           value=""
           placeholder="password">
            <div class="error">
                {{login_error}}
            </div>
    <input type="submit"
           value="Submit"
           class="button">
</form>

{% endblock %}
